extends layout

block content
    .container
        .row
            .col-md-3
                .row 
                    .col-md-12
                        img.single-book-image.thumbnail(src='/images/books/' + bookinfo._id + '.jpg')
                .row
                    .col-md-12.center
                        if read
                            a.btn.btn-warning.active(href="/users/markunread/#{bookinfo._id}") Mark as unread
                        else 
                            a.btn.btn-success(href="/users/markread/#{bookinfo._id}") Mark as read
                        
            
            .col-md-9
                h2.title #{bookinfo.title}
                h4.author-name 
                    a(href='/author/'+author._id) #{author.name}
                - var thisBookRating = (bookinfo.total_rating / bookinfo.total_vote).toFixed(1);
                .single-book-rating
                    - var width = (80 * thisBookRating) / 5;
                    - if (isNaN(width)) {
                    -   width = 0;   
                    - }
                    - if (isNaN(thisBookRating)) thisBookRating = 0;
                    span.stars
                        span(style="width:#{width}px")
                    span.rate-in-word #{thisBookRating} (total vote !{bookinfo.total_vote})
                .book-description !{bookinfo.description}
    hr
    
    .container
        ul.nav.nav-tabs
            li.active
                a(data-toggle="tab", href="#progress-tab") Progress
            li
                a(data-toggle="tab", href="#read-tab") Read
        
        .tab-content
            #progress-tab.tab-pane.fade.in.active
                .container
                    .row
                        .col-md-12
                            .panel-body 
                                .row
                                    each progress in progresses
                                        - number = Math.round(progress.percentage)
                                        .col-md-2
                                            a(href="/users/view/" + progress.user_id.username)
                                                img.img-circle(src='/images/profile/' + progress.user_id.profile_picture)
                                                p.center #{progress.user_id.name}
                                            .progress
                                                .progress-bar(role="progressbar", aria-valuenow=number  aria-valuemin="0", aria-valuemax="100", style="width:#{number}%") #{number}%

            #read-tab.tab-pane.fade
                .container
                    .row
                        .col-md-12
                            .panel-body 
                                if readers
                                    .row
                                        each reader in readers
                                            .col-md-2
                                                a(href="/users/view/" + reader.user_id.username)
                                                    img.img-circle(src='/images/profile/' + reader.user_id.profile_picture)
                                                    p.center #{reader.user_id.name}
                                                

    hr
    .container
        .row
            .col-md-12
            
                //input#rating.rating.rating-loading(type="text", data-size="lg" )
                input(type='hidden' id="book_id", value="#{bookinfo._id}")
                - var myrate = myrating;
                - var i = 5; 
                - var rateValue = 1;
                - var uncheckedRate = 5 - myrate;
                
                .rate-book 
                    while myrate > 0 
                        input(type="radio", class="rating", value="#{rateValue}", checked="checked")
                        - myrate--
                        - rateValue++
                    while uncheckedRate > 0
                        input(type="radio", class="rating", value="#{rateValue}")
                        - uncheckedRate--
                        - rateValue++

                    
            
                form(action='/book/comment', method='post')
                    h4 Review the book
                    .form-group
                        textarea.form-control(rows='5', name='text_comment')
                        input(type='hidden',  name='book_id', value=bookinfo._id)
                    .form-group
                        button.btn.btn-default Submit
                        
    
    hr 
    if comments.length !== 0
        .container
            .row
                .col-md-12
                    h4 comments
                    
                    each comment in comments
                        .panel.panel-default
                            .panel-heading 
                                .row
                                    .col-md-1
                                        img.img-circle.img-small(src="/images/profile/#{comment.user_id.profile_picture}")
                                    .col-md-11
                                        b #{comment.user_id.name} 
                                        br 
                                        i #{moment(comment.comment_on).calendar()}
                                        //i ( #{comment.comment_on})
                            .panel-body #{comment.comment}
                            
    script(src="/javascripts/custom-rating.js")


    
                    