extends layout

block content
            
    .container
        .row
            .col-md-6
                .row 
                    h3.dashboard-header Recent Activity
                .row.left-activity
                    - var i = 0
                    each item in ownRes
                        if i === 3
                            .clearfix(visible-xs-block="")
                            - i = 0
                        .col-md-4(data-book-id="#{item.book_id._id}", data-user-id="#{item.user_id._id}", data-history-id="#{item._id}")
                            .panel.panel-default
                                .panel-dashboard-image.panel-heading
                                    a(href="/book/#{item.book_id._id}")
                                        img.thumbnail(src="/images/books/#{item.book_id._id}.jpg")
                                .panel-body.dashboard-activity-details
                                    | You #{item.type} #[a(href="/book/#{item.book_id._id}") #{item.book_id.title}]
                                    .activity-date #{moment(item.update_on).calendar()}
                                    - i++
                    
                    // .col-md-4
                    //     .panel.panel-default
                    //         .panel-dashboard-image.panel-heading
                    //             img.thumbnail(src="/images/books/5727a6464dfd88781a4382c1.jpg")
                    //         .panel-body You read this on Today
                            
                    // .col-md-4
                    //     .panel.panel-default
                    //         .panel-dashboard-image.panel-heading
                    //             img.thumbnail(src="/images/books/5727a6464dfd88781a4382c1.jpg")
                    //         .panel-body You read this on Today
                            
                    // .col-md-4
                    //     .panel.panel-default
                    //         .panel-dashboard-image.panel-heading
                    //             img.thumbnail(src="/images/books/5727a6464dfd88781a4382c1.jpg")
                    //         .panel-body You read this on Today
                            
                                
                        
                    
            .col-md-6.dashboard-network-activity
                h3.dashboard-header Network Activity
                - var i = 0
                each item in dashboards
                    if i === 3
                        .clearfix(visible-xs-block="")
                        - i = 0
                    .col-md-4
                        .panel.panel-default
                            .panel-dashboard-image.panel-heading
                                a(href="/book/#{item.book_id._id}")
                                    img.thumbnail(src="/images/books/#{item.book_id._id}.jpg")
                                .poster-under
                                    a(href="/users/view/#{item.user_id.username}")
                                        img.dashboard-profile-small.img-circle(src="/images/profile/#{item.user_id.profile_picture}")
                                
                            .panel-body.dashboard-activity-details 
                                #[a(href="/users/view/#{item.user_id.username}") #{item.user_id.name}] #{item.type} #[a(href="/book/#{item.book_id._id}") #{item.book_id.title}]
                                .activity-date #{moment(item.update_on).calendar()}
                                - i++
                            

                        
