.container

    each book in progresses
        - number = Math.round(book.percentage)
        .panel.panel-default
            .panel-body
                .row.progress-book(data-book-id="#{book.book_id._id}", data-user-id="#{book.user_id}", data-progress-id="#{book._id}")
                    .col-md-2
                        img.thumbnail(src="/images/books/#{book.book_id._id}.jpg")
                    .col-md-10
                        .row.progress-book-title 
                            h3
                                a(href="/book/#{book.book_id._id}") #{book.book_id.title}
                        .row.progress-book-author 
                            h5
                                a(href="/author/#{book.book_id.author_id}") #{book.book_id.author_name}
                        .row.progress-book-progress 
                            .progress
                            
                                .progress-bar(role="progressbar", aria-valuenow=number,  aria-valuemin="0", aria-valuemax="100", style="width:#{number}%;") #{number}%
                                
                        .row.progress-book-description
                            p #{book.book_id.description}
                            
                        .row.progress-book-show-more
                            a(href="/book/#{book.book_id._id}") More
                            
    script(src="/javascripts/profile-progress.js")
                    